.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  
  &-body{    
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 1rem;
    font-size: .8rem;
  }


  span {
    font-size: .8rem;
  }
}