@use '../components/'as *;

.navbar {
  background-color: $primary;
  color: $fontColor;
  height: max-content;
  padding: .5rem 0;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 999;

  &-hamburger {
    @media screen and (min-width: 760px) {
      display: none;
      cursor: pointer;
    }
  }

  &-title {
    font-size: 2.25rem;

    span {
      color: $primaryTheme;
    }
  }

  &-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;

  }

  &-navigation,
  &-sm {
    list-style-type: none;
    display: flex;
    gap: 1.5rem;

    @media screen and (max-width: 761px) {
      display: none;
    }

    li {
      font-size: 1rem;
      cursor: pointer;

      a {
        color: $fontColor;
      }
    }
  }

  &-mobile {
    background-color: $primary;
    position: absolute;
    left: 0;
    width: 50%;
    top: 4rem;
    padding: 1rem;

    ul {
      list-style-type: none;
    }

    &__icon {
      display: flex;
      gap: 1rem;
      padding-bottom: 2rem;
    }

    ul {
      li {
        padding-bottom: 1rem;

        a {
          &:hover {
            text-decoration: underline wavy #e58e26;
          }
          text-decoration: none;
          color: $fontColor;
          cursor: pointer;
        }
      }
    }
  }
}