@use '../components/'as *;

.navbar {
  background-color: $primary;
  color: $fontColor;
  height: max-content;
  padding: .5rem 0;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 999;

  &-title {
    font-size: 2.25rem;

    span {
      color: $primaryTheme;
    }
  }

  &-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;

  }

  ul {
    list-style-type: none;
    display: flex;
    gap: 1.5rem;

    li {
      font-size: 1rem;
      cursor: pointer;
    }
  }


  &-sm {
    li {
      a {
        color: $fontColor;
      }
    }
  }
}