.recentPost {
  width: 70%;
  margin: 0 auto;
  padding-bottom: 3rem;

  a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
  }

  &-inner {
    display: flex;
    align-items: center;
    gap: 1rem;

    @media screen and (max-width:500px){
      flex-direction: column;
    }

    img {
      width: 250px;
      height: 250px;
      object-fit: cover;
    }

    h1 {
      font-size: 2rem;
      padding-bottom: 1rem;
    }

    p {
      line-height: 1.5;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 6;
      -webkit-box-orient: vertical;
      line-height: 24px;
    }

    span{
      color: blue;
      font-style: italic;
    }
  }
}