@use '../utilities' as utils;

.techPosts {
  padding: 3rem 0;

  select {
    border: 1px solid black;
    border-radius: 5px;
  }

  &-categories {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    gap: 1rem;
    justify-content: center;
    margin-bottom: 1rem;

    button {
      @include utils.blackBtn;
    }
  }

  &-posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 1rem;
    cursor: pointer;

    a {
      text-decoration: none;
      color: inherit;
    }

    img {
      width: 200px;
      height: 200px;
      object-fit: cover;
    }
  }


  &-redirect {
    display: flex;
    justify-content: center;
    padding-top: 2rem;

    a {
      font-size: 2rem;
      color: rgb(163, 75, 75);
    }
  }
}

.randomPosts {
  &-posts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;

    a {
      text-decoration: none;
      color: inherit;
    }

    p {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }

}