@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Josefin+Sans&family=Lora&display=swap');

$fontOne: 'Josefin Sans',
sans-serif;
$fontTwo: 'Lora',
serif;
$fontHeading: 'Architects Daughter', cursive;
$primary: #000000;
$fontColor: #ffffff;
$primaryTheme: #f6b93b;


* {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

body {
  margin: 0;
  background-color: #ffffff;
  background-image: url('../../public/images/asfalt-dark.png');
  font-family: $fontHeading;

  @media screen and (min-width:1500px){
    width: 1140px;
    margin: 0 auto
  }
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}