@use './utilities';

//components
@use './components/navbar';
@use './components/sidebar';
@use './components/posts';
@use './components/post';
@use './components/singlePost';

//pages
@use './pages/home';
@use './pages/write';
@use './pages/settings';